html {
}
body {
}
div {
}
div#all {
  max-width:unset;
}
nav {
}
div#profile {
  overflow: hidden;
  height:unset;
  margin-right:unset;
  width:100%;
  float:unset;
}
div#profile-photo {
  float:left;
}
address {
  float:right;
  text-align:left;
}
div#profile-icon {
  float: left;
  text-align:right;
  padding: 1em 1em;
}
main {
  margin-left: 1em;
  text-align:left;
}
a, a:link, a:visited {
}
a.disabled {
}
.focus {
}
