html {
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Alegreya', serif;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  color:#BBBBBB;
}
h1 {
  font-size: 2.5em;
}
body {
  line-height: 1.3;
  max-width:100%;
  margin:0px;
  background-color:#717175;
  color:#AAAAAA;
  font-family: 'Lato', sans-serif;
}
ul {
  padding-left: 1em;
  margin-top: 0.25em;
  margin-bottom: 0.75em;
}
li {
  margin-top: 0.25em;
  margin-bottom: 0.5em;
}
section {
  margin-top: 0em;
  margin-bottom: 2em;
}
div {
  margin:0px;
}
div#all {
  max-width:55em;
  /* height:100%; */
  margin-top:0px;
  margin-bottom:0px;
  margin-left:auto;
  margin-right:auto;
  /* background-color:#181712; */
  background-color:#000000;
  padding:0px;
  border:0px;
}
nav {
  height:1.5em;
  float:top;
  text-align:right;
  margin:0px;
}
div#profile {
  overflow: hidden;
  /*height:100%;*/
  margin-top:1.5em;
  margin-right: 1em;
  width:160px;
  float:left;
}
div#profile-photo {
  float:right; 
  text-align: right;
}
address {
  float:right;
  text-align:right;
  background-image: url("../img/osu-dark.png");
  background-size: 5em;
  background-repeat: no-repeat;
  background-position: right bottom;
  font-style: normal;
}
div#profile-icon {
  /* float:right; */
  text-align:right;
  padding: 1em 1px;
}
main {
  /* height:100%; */
  min-height: 100%;
  margin-left: 200px;
  margin-right: 1em;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
}
a, a:link, a:visited {
  color:#6ABED8; 
  text-decoration:none; 
}
a.disabled {
  color:#333333; 
  text-decoration:none; 
}
a.small {
  font-size:75%;

}
.focus {
  color: #E0E0E0;
  text-shadow: 0px 0px 20px #F0F000; 
  outline: 1px #000000;
}
.unfocus {
  color: #606060;
}
.unfocus a, .unfocus a:link, .unfocus a:visited {
  color:#355F6C; 
}
@media screen and (max-width: 480px) {
  div#all {
    max-width:unset;
  }
  div#profile {
    overflow: hidden;
    height:unset;
    margin-right:unset;
    width:100%;
    float:unset;
  }
  div#profile-photo {
    float:left;
  }
  address {
    float:right;
    text-align:left;
  }
  div#profile-icon {
    float: left;
    text-align:right;
    padding: 1em 1em;
  }
  main {
    margin-left: 1em;
    text-align:left;
  }
}
